h1{
    text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: normal;
    font-size: 50px;
    font-family: a;
}
h3{
    text-align: start;
    text-decoration: double blue line-through;
}
p{
    text-align: justify;
    font-weight: 100;
    line-height: normal;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-weight: normal;
    text-decoration: green overline;
}
a{
    text-decoration: none;
}